<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyrocket Agency</title>
    <link rel="stylesheet" href="https://use.typekit.net/usq5jdr.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="max">
            <div class="logo">
                <img src="graphics/logo_primary.svg" width="100%">
            </div>
        </div>
    </header>
    <main>
        <section class="h-85">
            <div class="max pad">
                <h1>Impressum</h1>
                <p>Für die Inhalte verantwortlich: Moritz Mitterdorfer, Wurmsergasse 6/9 1150 Wien. Der Inhalt der Seite ist sorgfältig bereitgestellt, die Richtigkeit und Gesetzesmäßigkeit Inhalten Dritter wird nicht garantiert.</p>
                <h3>Kontakt</h3>
                <p>Per Mail an mitterdorfer.moritz@gmail.com</p>
            </div>
        </section>
    </main>
    <footer>
        <div class="max">
            <div class="columns">
                <div class="column">
                    <div class="link-logo">
                        <img src="graphics/logo_white.svg" width="100%">
                    </div>
                </div>
                <div class="column link-list">
                    <div class="link-heading">company</div>
                    <div class="link">
                        <a href="/contact">Contact</a>
                    </div>
                    <div class="link">
                        <a href="/contact">Jobs</a>
                    </div>
                </div>
                <div class="column link-list">
                    <div class="link-heading">legal</div>
                    <div class="link">
                        <a href="/impress">Impress</a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                &copy; 2021 Skyrocket Agency
            </div>
        </div>
    </footer>
</body>
</html>