<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyrocket Agency</title>
    <link rel="stylesheet" href="https://use.typekit.net/usq5jdr.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="max">
            <div class="logo">
                <img src="graphics/logo_primary.svg" width="100%">
            </div>
        </div>
    </header>
    <main>
        <section class="h-85">
            <div class="max">
                <div class="sides">
                    <div class="sides-left">
                        <h1>Digital platforms are the future. We believe in it.</h1>
                    </div>
                    <div class="sides-right">
                        <div class="action-btn">
                            <button onclick="window.location.href = '/contact'">
                                <div>contact us</div>
                                <div class="btn-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" xml:space="preserve"><g><g><path d="M484.14,226.886L306.46,49.202c-5.072-5.072-11.832-7.856-19.04-7.856c-7.216,0-13.972,2.788-19.044,7.856l-16.132,16.136    c-5.068,5.064-7.86,11.828-7.86,19.04c0,7.208,2.792,14.2,7.86,19.264L355.9,207.526H26.58C11.732,207.526,0,219.15,0,234.002    v22.812c0,14.852,11.732,27.648,26.58,27.648h330.496L252.248,388.926c-5.068,5.072-7.86,11.652-7.86,18.864    c0,7.204,2.792,13.88,7.86,18.948l16.132,16.084c5.072,5.072,11.828,7.836,19.044,7.836c7.208,0,13.968-2.8,19.04-7.872    l177.68-177.68c5.084-5.088,7.88-11.88,7.86-19.1C492.02,238.762,489.228,231.966,484.14,226.886z"/></g></g></svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tech">
                    <div class="tech-logo">
                        <img src="logos/aws.png" width="100%">
                    </div>
                    <div class="tech-logo" id="mongo">
                        <img src="logos/mongodb.png" width="100%">
                    </div>
                    <div class="tech-logo">
                        <img src="logos/nodejs.png" width="100%">
                    </div>
                    <div class="tech-logo">
                        <img src="logos/react.png" width="100%">
                    </div>
                </div>
            </div>
        </section>
        <section class="bg">
            <div class="max pad">
                <div class="center heading">Why Skyrocket?</div>
                <div class="features">
                    <h1>What we offer 🎈</h1>
                    <div class="feature-list">
                        <div class="feature-item">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" fill="#1ed760"/></svg>
                            <div class="feature-item-text">support at every stage</div>
                        </div>
                        <div class="feature-item">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" fill="#1ed760"/></svg>
                            <div class="feature-item-text">marketing concepts</div>
                        </div>
                        <div class="feature-item">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" fill="#1ed760"/></svg>
                            <div class="feature-item-text">platform monetization</div>
                        </div>
                        <div class="feature-item">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" fill="#1ed760"/></svg>
                            <div class="feature-item-text">platform hosting</div>
                        </div>
                        <div class="feature-item">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" fill="#1ed760"/></svg>
                            <div class="feature-item-text">legal issues</div>
                        </div>
                        <div class="feature-item">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" fill="#1ed760"/></svg>
                            <div class="feature-item-text">conceptual identity</div>
                        </div>
                        <div class="feature-item">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" fill="#1ed760"/></svg>
                            <div class="feature-item-text">fair pricing</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="h-85">
            <div class="max pad">
                <h1 class="underlined-headline">Our Offer</h1>
                <div class="col-sides">
                    <div class="col-text">
                        We help you at the automatable work so that you can purely focus on developing the platform. We walk you through our plan step by step.
                    </div>
                    <div class="hashtags">
                        <div id="hashtag-img">
                            <img src="graphics/hashtags.svg" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="steps">
            <div class="max pad">
                <h1 class="headline">Our Roadmap</h1>
                <div class="roadmap">
                    <div id="steps-img">
                        <img src="graphics/roadmap.svg" width="100%">
                    </div>
                    <div id="roadmap-by">
                        <img src="graphics/by_skyrocket_agency.svg" width="100%">
                    </div>
                </div>
            </div>
        </section>
        <section class="bg bg-light">
            <div class="max pad">
                <h1>Now it's your turn.</h1>
                <div class="card">
                    <div class="card-icon">
                        <img src="graphics/moon.svg" width="75%">
                    </div>
                    <div class="card-content">
                        <div class="card-name">Are you ready?</div>
                        <div class="card-description">Get in touch with us. We'll take time for you.</div>
                    </div>
                    <div class="card-action">
                        <button onclick="window.location.href = '/contact'">contact us</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-icon">
                        <img src="graphics/work.svg" width="75%">
                    </div>
                    <div class="card-content">
                        <div class="card-name">Interested working here?</div>
                        <div class="card-description">Apply for a position at Skyrocket Agency.</div>
                    </div>
                    <div class="card-action">
                        <button onclick="window.location.href = 'mailto:mitterdorfer.moritz@gmail.com?subject=Application for Skyrocket Agency&body=Hi! I want to apply at Skyrocket Agency...';">mail us</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="max">
            <div class="columns">
                <div class="column">
                    <div class="link-logo">
                        <img src="graphics/logo_white.svg" width="100%">
                    </div>
                </div>
                <div class="column link-list">
                    <div class="link-heading">company</div>
                    <div class="link">
                        <a href="#">Contact</a>
                    </div>
                    <div class="link">
                        <a href="#">About</a>
                    </div>
                    <div class="link">
                        <a href="#">Jobs</a>
                    </div>
                </div>
                <div class="column link-list">
                    <div class="link-heading">legal</div>
                    <div class="link">
                        <a href="#">Impress</a>
                    </div>
                    <div class="link">
                        <a href="#">Data Privacy</a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                &copy; 2021 Skyrocket Agency
            </div>
        </div>
    </footer>
</body>
</html>