<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyrocket Agency | Jobs</title>
    <link rel="stylesheet" href="https://use.typekit.net/usq5jdr.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="jobs.css">
</head>
<body>
    <header>
        <div class="max">
            <div class="logo">
                <img src="graphics/logo_primary.svg" width="100%">
            </div>
        </div>
    </header>
    <main>
        <div class="max pad">
            <h1>Join Skyrocket Agency</h1>
            <p>Creative and enthusiastic people are shaping us. But there is one thing we have to tell you: We are not a regular company. You can work when and where you want, and you get paid on an per-project basis.</p>
            <div class="job-list">
                <div class="job">
                    <div class="job-name">🐳 Backend engineer</div>
                    <hr />
                    <div class="job-location">home office</div>
                    <div class="job-description">Enthusiastic about the cloud? Join the backend team.</div>
                    <div class="job-hourly-rate">start</div>
                </div>
                <div class="job">
                    <div class="job-name">📱 Frontend developer</div>
                    <hr />
                    <div class="job-location">home office</div>
                    <div class="job-description">You know React Native and Flutter?</div>
                    <div class="job-hourly-rate">start</div>
                </div>
                <div class="job">
                    <div class="job-name">🎈 Deployments</div>
                    <hr />
                    <div class="job-location">home office</div>
                    <div class="job-description">Passionate about Docker and Linux?</div>
                    <div class="job-hourly-rate">start</div>
                </div>
                <div class="job">
                    <div class="job-name">🖥 Design</div>
                    <hr />
                    <div class="job-location">home office</div>
                    <div class="job-description">Illustrator is your favourite program?</div>
                    <div class="job-hourly-rate">start</div>
                </div>
                <div class="job">
                    <div class="job-name">📊 Marketing</div>
                    <hr />
                    <div class="job-location">home office</div>
                    <div class="job-description">You enjoy designing marketing campaigns?</div>
                    <div class="job-hourly-rate">start</div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="max">
            <div class="columns">
                <div class="column">
                    <div class="link-logo">
                        <img src="graphics/logo_white.svg" width="100%">
                    </div>
                </div>
                <div class="column link-list">
                    <div class="link-heading">company</div>
                    <div class="link">
                        <a href="#">Contact</a>
                    </div>
                    <div class="link">
                        <a href="#">About</a>
                    </div>
                    <div class="link">
                        <a href="#">Jobs</a>
                    </div>
                </div>
                <div class="column link-list">
                    <div class="link-heading">legal</div>
                    <div class="link">
                        <a href="#">Impress</a>
                    </div>
                    <div class="link">
                        <a href="#">Data Privacy</a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                &copy; 2021 Skyrocket Agency
            </div>
        </div>
    </footer>
</body>
</html>