:root {
    --primary: #0061ff;
    --secondary: #1DB954;
    --complementary: #ff9e00;
    --dark: #252525;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: proxima-nova;
    font-weight: 700;
    font-size: 120%;
}

p {
    font-weight: 400;
}

.max {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #fff;
    color: var(--primary);
    height: 15vh;
    padding: 1% 3%;
}

main section {
    padding: 3%;
    color: var(--dark);
    box-sizing: border-box;
}

main section h1 {
    margin: 2% 0%;
}

section.h-85 {
    height: 85vh;
}

footer {
   background-color: #031b4e;
   color: #fff;
   padding: 3%;
}

*:focus {
    outline: none;
}

/* custom */

.logo {
    width: 30%;
    margin-top: 5%;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    margin: 10% 0%;
}

.tech-logo {
    flex: 1 1;
    margin-right: 5%;
}

#mongo {
    flex: 1 0 15%;
}

#apollo {
    width: 17%;
}

.bottom-link {
    position: absolute;
    bottom: 25vh;
    left: 50%;
}

.bottom-link a {
    text-align: center;
    color: var(--primary);
    text-align: center;
    display: inline-block;
    position: relative;
    left: -50%;
    text-decoration: none !important;
}

.bottom-link a:hover {
    border-bottom: 4px solid var(--primary);
    transition: border-bottom .1s;
}

.bg {
    /*background-image: linear-gradient(#2c5e92 0%, #552f6d 80%);*/
    background-color: #031b4e;
    color: #fff;
}

.bg-light {
    background-color: var(--primary);
}

.bg-orange {
    background-color: var(--complementary);
}

.pad {
    padding: 4% 0%;
}

.center {
    text-align: center; 
}

.heading {
    font-size: 200%;
}

.sides {
    display: flex;
}

.sides-left {
    font-size: 210%;
    flex: 2 1;
}

.sides-right {
    flex: 1 0;
    margin: auto auto;
    text-align: center;
}

.sides-right button {
    border-radius: 24px;
    color: #fff;
    background-color: var(--primary);
    border: 3px solid var(--primary);
    text-align: center;
    font-family: proxima-nova;
    font-weight: 700;
    padding: .8%;
    width: 70%;
    font-size: 100%;
}

.btn-icon svg {
    fill: #fff;
    width: 10%;
}

.action-btn:hover button {
    color: var(--primary);
    background-color: #fff;
    transition: color .5s;
    transition: background-color .5s;
}

.action-btn:hover .btn-icon svg {
    fill: var(--primary);
    transition: fill .5s;
}

.link-list {
    font-weight: 400;
}

.link-list .link {
    margin-bottom: 1%;
}

.link-list .link-heading {
    text-transform: uppercase;
    margin-bottom: 2%;
    color: #afafaf;
    font-weight: 700;
    font-size: 90%;
}

.link-list .link a {
    text-decoration: none;
    color: #fff;
}

.link-list .link a:hover {
    color: var(--primary);
    transition: color .5s;
}

.columns {
    margin-top: 2%;
    display: flex;
}

.column {
    flex: 1 1;
}

.link-logo {
    width: 67%;
}

.copyright {
    margin-top: 10%;
    font-size: 70%;
    font-weight: 400;
    text-align: right;
}

.stage-list {
    margin: 14% 0%;
}

.stage {
    margin-bottom: 3%;
    font-size: 140%;
}

.stage:hover {
    text-decoration: underline 3px solid #fff;
    transition: text-decoration-style .5s;
}

.parts {
    display: flex;
    flex-wrap: nowrap;
}

.parts-left {
    flex: 1 1;
}

.parts-right {
    flex: 3 1;
    padding: 5%;
}

.underlined-headline {
    font-size: 180%;
    border-bottom: 5px solid var(--primary);
    width: fit-content; 
}

.headline {
    font-size: 180%;
}

.col-sides {
    margin-top: 5%;
    display: flex;
}

.col-text {
    flex: 1 1;
    font-size: 140%;
    font-weight: 400;
}

.hashtags {
    flex: 1 1;
    width: 30%;
}

.hashtags #hashtag-img {
    width: 70%;
    margin: 0 auto;
}

/** features */

.features {
    background-color: #fff;
    margin: 5%;
    border-radius: 24px;
    border: none;
    padding: 2% 5%;
    height: max-content;
    color: #000;
    text-align: left;
    font-size: 100%;
}

.feature-item {
    color: #000;
    margin-top: 2%;
    display: flex;
    font-weight: 400;
}

.feature-item .feature-item-text {
    margin-left: 2%;
}

svg .checkmark {
    fill: #1ed760;
}

.feature-list {
    margin: 5% 0%;
}

#steps {
    background-color: #f1f1f1;
}

.roadmap {
    margin-top: 8%;
    display: flex;
}

#steps-img {
    flex: 2 1;
    width: 70%;
}

#roadmap-by {
    flex: 1 1;
    margin: auto;
}

/** card */

.card {
    margin: 5% 0%;
    padding: 6%;
    border-radius: 12px;
    color: #0000;
    background-color: #fff;
    display: flex;
}

.card-icon {
    flex: 0 0 20%;
    width: 10%;
}

.card-content {
    padding-right: 10%;
}

.card-name {
    color: rgb(27, 27, 27);
    font-size: 130%;
}

.card-description {
    margin-top: 2%;
    font-weight: 400;
    color: rgb(65, 65, 65);
}

.card-action {
    flex: 0 0 20%;
    margin: auto;
}

.card-action button {
    color: #fff;
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    padding: 9%;
    font-size: 100%;
    text-align: center;
    width: 100%;
    font-family: proxima-nova;
    font-weight: 700;
}

/** profiles */
.profile-list {
    margin-top: 5%;
    display: flex;
}

.profile {
    padding: 2%;
    margin: 1%;
    flex: 1 1;
    border-radius: 12px;
    border: 1px solid rgb(229, 232, 237);
    box-shadow: rgb(1 14 40 / 5%) 0px 2px 4px;
}

.profile .profile-image {
    margin: 2% auto;
    width: 80%;
}

.profile .profile-name {
    margin-top: 10%;
    color: var(--primary);
}

.profile .profile-position {
    text-transform: uppercase;
    margin-top: 3%;
    font-size: 90%;
}

.profile .profile-about {
    margin-top: 5%;
    color: #5b6987;
    font-weight: 400;
}

.profile-github {
    margin-top: 5%;
    width: 10%;
}
